* {
    padding: 0;
    margin: 0;
}

.ear {
    background-color: #291814;
    width: fit-content;
    height: 1.2em;
    padding-top: .25em;
    display: flex;
    font-family: monospace;
    font-size: 1.2em;
    padding-left: .5em;
    color: #fff1e8;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.ear img {
    margin-left: .25em;
    margin-right: 1em;
    height: 1.1em;
    width: auto;
}

.reward {
    color: #5f574f;
}

.paper {
    background-color: #fff1e8;
    border-radius: .5em;
    border-top-left-radius: 0;
    border: 3px solid #291814;
    margin-bottom: .3em;
}

.dotted {
    margin: .2em;
    border-radius: 1em;
    border: 3px dashed #ffccaa;
}

.head {
    margin: .2em;
    display: flex;
    position: relative;
    text-align: center;
}

.head p {
    max-width: calc(70% - 1em);
    font-family: monospace;
    color: #5f574f;
    font-weight: bold;
    font-size: 1.8em;
    margin: auto;
    padding: auto;
}

.imgcontainer {
    position: relative;
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50%;
    background-color: #ffccaa;
}

.description {
    margin: .2em;
    margin-top: 0;
    background-color: #ffccaa;
    border-radius: 1em;
    width: calc(100% - 0.4em);
}

.description pre {
    font-family: monospace;
    font-size: 1.2em;
    padding: .2em;
    padding-left: .6em;
    padding-right: 0;
    color: #5f574f;
}

button {
    width: 100%;
    height: 2em;
    border-radius: 1em;
    border: 1px solid black;
    background: #a28879;
    font-size: 1.2em;
    font-family: monospace;
}

button:active {
    background: #5f574f;
    color: #FFF1E8;
}

textarea {
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: monospace;
    width:100%;
    font-size: 1.1em;
}

.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 70%;
    max-height: 70%;
    margin: auto;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #FFF1E8;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fishcontainer {
    width: min(100%, 25em);
    margin: 1em;
}

#recommendation {
    margin-top: 1em;
    font-size: 1em;
}

pre {
    color: #000000;
    font-size: 1.2em;
    white-space: pre-wrap;
}


@media only screen and (max-width: 300px) {
    .ear {
        font-size: .9em;
    }

    .ear img {
        height: .9em;
    }

    .ear {
        height: .9em;
    }

    .head p {
        font-size: 1.4em;
    }

    .description pre {
        font-family: monospace;
        font-size: .9em;
        color: #5f574f;
    }

  }
